<div class="col-sm-12">
    <form id="insertCodeValidation" novalidate="novalidate" method="post" action="/settings/code">
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group has-label">
                    <label>
                        <strong>타입 *</strong>
                    </label>
                    <input class="form-control" type="text" name="type" placeholder="ex)0000"
                           minlength="4" maxlength="4" required="" >
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group has-label">
                    <label>
                        <strong>구분 *</strong>
                    </label>
                    <input class="form-control" type="text" name="gubun" placeholder="ex)0000"
                           minlength="4" maxlength="4" required="">
                </div>
            </div>
            <div class="col-sm-4"></div>
            <div class="col-sm-1"><button type="button" id="dupBtn" class="btn btn-primary btn-simple btn-sm" >중복체크</button></div>
        </div>
        <div class="row">
            <div class="col-sm-2">데이터1</div>
            <div class="col-sm-8"><input type="text" name="data1" class="form-control" maxlength="256" ></div>
        </div>
        <div class="row">
            <div class="col-sm-2">데이터2</div>
            <div class="col-sm-8"><input type="text" name="data2" class="form-control" maxlength="256" ></div>
            <div class="col-sm-1"><button type="button" class="btn btn-primary btn-sm" id="init">초기화</button></div>
        </div>
        <div class="row">
            <div class="col-sm-2">데이터3</div>
            <div class="col-sm-8"><input type="text" name="data3" class="form-control" maxlength="256" ></div>

            <div class="col-sm-1"><button type="submit" class="btn btn-primary btn-sm" >입력</button></div>
        </div>
    </form>
</div>
