<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" class="perfect-scrollbar-off">
<head>
    {{> header }}
</head>

<body class="sidebar-mini">
    <div class="wrapper">
        {{> left mailActive="active" menuExpand="true" mailRealtimeMenuActive="active" mailMenuShow="show"}}
        <div class="main-panel ps ps--active-y">
            {{> top title="Realtime"}}

            <div class="content">
                <div class="card">
                    <div class="card-header">
                        <h4>Realtime</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-10">
                                <button type="button" name="realtimeSetting" class="btn btn-primary btn-simple btn-sm" >Realtime 설정</button>
                            </div>
                            <div class="col-sm-12 col-md-2">
                                <input type="input" name="search" class="form-control" placeholder="Search records">
                            </div>
                        </div>
                        <br>

                        <div class="col-sm-12 col-md-6">
                            {{> mail/send/realtime/realtimeDashBoard }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{> footer }}
</body>
</html>
