<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" >
<head>
<meta charset="UTF-8">
	<link href="/static/css/black-dashboard.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/nucleo-icons.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="/static/js/core/jquery.min.js"/>
    <script type="text/javascript" src="/static/js/core/popper.min.js"/>
    <script type="text/javascript" src="/static/js/core/bootstrap.min.js"/>
    <script type="text/javascript" src="/static/js/plugins/perfect-scrollbar.jquery.min.js"/>
    <script type="text/javascript" src="/static/js/plugins/moment.min.js"/>
    <script type="text/javascript" src="/static/js/plugins/bootstrap-switch.js"/>
    <script type="text/javascript" src="/static/js/plugins/sweetalert2.min.js"/>
    <script type="text/javascript" src="/static/js/plugins/jquery.tablesorter.js"/>
    <script type="text/javascript" src="/static/js/plugins/jquery.validate.min.js"/>
    <script type="text/javascript" src="/static/js/plugins/jquery.bootstrap-wizard.js"/>
    <script type="text/javascript" src="/static/js/plugins/bootstrap-selectpicker.js"/>
    <script type="text/javascript" src="/static/js/plugins/bootstrap-datetimepicker.js"/>
    <script type="text/javascript" src="/static/js/plugins/jquery.dataTables.min.js"/>
    <script type="text/javascript" src="/static/js/plugins/bootstrap-tagsinput.js"/>
    <script type="text/javascript" src="/static/js/plugins/jasny-bootstrap.min.js"/>
    <script type="text/javascript" src="/static/js/plugins/fullcalendar.min.js"/>
    <script type="text/javascript" src="/static/js/plugins/jquery-jvectormap.js"/>
    <script type="text/javascript" src="/static/js/plugins/nouislider.min.js"/>
    <script type="text/javascript" src="/static/js/plugins/chartjs.min.js"/>
    <script type="text/javascript" src="/static/js/black-dashboard.js?v=1.0.0"/>
</head>

<body class="nav-md login-page" >
    <div class="content">
        <div class="container">
            <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                <form class="form">
                    <div class="card card-login card-white">
                        <div class="card-header">
                            <img src="../../assets/img/card-primary.png" alt="">
                            <h1 class="card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">로그인</font></font></h1>
                        </div>
                        <div class="card-body">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="tim-icons icon-email-85"></i>
                                    </div>
                                </div>
                                <input type="text" class="form-control" placeholder="Email">
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="tim-icons icon-lock-circle"></i>
                                    </div>
                                </div>
                                <input type="text" placeholder="Password" class="form-control">
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="#pablo" class="btn btn-primary btn-lg btn-block mb-3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">시작하다</font></font></a>
                            <div class="pull-left">
                                <h6>
                                    <a href="javascript:void(0)" class="link footer-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">계정 만들기</font></font></a>
                                </h6>
                            </div>
                            <div class="pull-right">
                                <h6>
                                    <a href="javascript:void(0)" class="link footer-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">도움이 필요하다?</font></font></a>
                                </h6>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
