<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" >
<head>
    {{> header }}
</head>

<body class="login-page">
    <div class="wrapper wrapper-full-page ">
        <div class="full-page login-page ">
           <div class="content">
                <div class="container">
                    <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                        <form class="form" id="login-frm" action="/j_spring_security_check" method="post">
                            <div class="card card-login card-white">
                                <div class="card-header">
                                    <img src="/img/card-primary.png" alt="">
                                    <h1 class="card-title">Log in</h1>
                                </div>
                                <div class="card-body">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="tim-icons icon-email-85"></i>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Email" id="username" name="username">
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="tim-icons icon-lock-circle"></i>
                                            </div>
                                        </div>
                                        <input type="text" placeholder="Password" class="form-control" id="password" name="password">
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button type="submit" id="btnLogin" class="btn btn-primary btn-lg btn-block mb-3">로그인</button>
                                    <div class="pull-left">
                                        <h6>
                                            <a href="javascript:void(0)" class="link footer-link">Create Account</a>
                                        </h6>
                                    </div>
                                    <div class="pull-right">
                                        <h6>
                                            <a href="javascript:void(0)" class="link footer-link">Need Help?</a>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
