<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="cacheEnabled"              value="true"/>
        <setting name="lazyLoadingEnabled"        value="false"/>
        <setting name="multipleResultSetsEnabled" value="true"/>
        <setting name="useColumnLabel"            value="true"/>
        <setting name="useGeneratedKeys"          value="false"/>
        <setting name="defaultExecutorType"       value="SIMPLE"/>
        <setting name="defaultStatementTimeout"   value="25000"/>
    </settings>

    <typeAliases>
        <typeAlias  type="gs.mail.engine.dto.Target" alias="Target"/>
        <typeAlias  type="gs.mail.engine.dto.Realtime" alias="Realtime"/>
        <typeAlias  type="gs.mail.engine.dto.Campaign" alias="Campaign"/>
        <typeAlias  type="gs.mail.engine.dto.Domain" alias="Domain"/>
    </typeAliases>

    <typeHandlers>
        <typeHandler javaType="java.sql.Timestamp" handler="org.apache.ibatis.type.DateTypeHandler"/>
        <typeHandler javaType="java.sql.Time"      handler="org.apache.ibatis.type.DateTypeHandler"/>
        <typeHandler javaType="java.sql.Date"      handler="org.apache.ibatis.type.DateTypeHandler"/>
    </typeHandlers>

</configuration>
