<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" class="perfect-scrollbar-off">
<head>
    {{> header }}
</head>

<body class="sidebar-mini">
    <div class="wrapper">
        {{> left codeActive="active" codeExpand="true" userMenuActive="active" codeMenuShow="show"}}
        <div class="main-panel ps ps--active-y">
            {{> top title="users"}}

            <div class="content">
                <div class="card">
                    <div class="card-header">
                        <h4 >Users</h4>

                        {{> settings/users/userInsert}}
                    </div>
                    <div class="card-body">
                        <div class="col-sm-12">
                            <table id="userListtable"  class="table" role="grid" aria-describedby="datatable_info" style="width:100%">
                                <thead>
                                    <tr role="row">
                                        <th class="text-center" tabindex="0" aria-controls="datatable" style="width:20%" >로그인ID</th>
                                        <th class="text-center" tabindex="0" aria-controls="datatable" style="width:15%" >이름</th>
                                        <th class="text-center" tabindex="0" aria-controls="datatable" style="width:10%">비밀번호</th>
                                        <th class="text-center" tabindex="0" aria-controls="datatable" style="width:10%">그룹</th>
                                        <th class="text-center" tabindex="0" aria-controls="datatable" style="width:10%">권한</th>
                                        <th class="text-center" tabindex="0" aria-controls="datatable" style="width:9%">활성화</th>
                                        <th class="text-center" tabindex="0" aria-controls="datatable"  style="width:7%">삭제</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            {{> settings/users/usersModal}}
        </div>
    </div>

    {{> footer }}

    <script type="text/javascript" src="/viewJs/settings/users/users.js"></script>
    <script type="text/javascript" src="/viewJs/settings/users/usersModal.js"></script>
    <script type="text/javascript" src="/viewJs/settings/users/usersInsert.js"></script>
</body>
</html>
