<!-- Modal -->
<div class="modal modal-black fade" id="receivEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <input type="hidden" id="receiverAddrGrpId">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="receivEditModalLabel">그룹 이름 수정</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="tim-icons icon-simple-remove"></i>
                </button>
            </div>
            <div class="modal-body">
                <form id="receiverEditValidation" novalidate="novalidate">
                    <div class="form-group has-label">
                        <label>
                            <strong>그룹 이름</strong>
                        </label>
                         <input class="form-control" type="text" name="receivEditGrpName" maxlength="10" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                <button type="button" id="receivModEditButt" class="btn btn-primary">수정</button>
            </div>
        </div>
    </div>
</div>