<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" class="perfect-scrollbar-on">
<head>
    {{> header }}
</head>

<body class="sidebar-mini">
    <div class="wrapper">
        {{> left mailActive="active" menuExpand="true" mailReceiverMenuActive="active" mailMenuShow="show"}}
        <div class="main-panel ps ps--active-y">
            {{> top title="code"}}

            <div class="content">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <h4 class="col-sm-11">
                                Receiver
                            </h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="col-sm-12">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{> footer }}
</body>
</html>
