<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" class="perfect-scrollbar-on">
<head>
    {{> header }}
</head>
<body class="sidebar-mini">
<div class="wrapper">
    {{> left mailActive="active" menuExpand="true" mailReceiverMenuActive="active" mailMenuShow="show"}}
    <div class="main-panel ps ps--active-y">
        {{> top title="Receiver"}}

        <div class="content">
            <div class="card">
                <!-- 상단 -->
                <div class="card-header">
                    <h4>Receiver</h4>
                    <div class="row">
                        <div class="col-sm-9">
                            <form id="receiverForm" novalidate="novalidate" method="post" action="/mail/receiver/group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="form-group has-label">
                                            <label>
                                                <strong>그룹이름 *</strong>
                                            </label>
                                            <input class="form-control" type="text" name="groupName" maxlength="10"
                                                   required>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="col-md-3">
                            <div class="col-sm-12">
                                <button type="button" id="dupUsersBtn" class="btn btn-primary btn-simple btn-sm">중복체크
                                </button>
                            </div>
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary btn-sm">입력</button>
                                <button type="button" class="btn btn-primary btn-sm" id="init">초기화</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="col-sm-12">
                        <table id="receiverListTable" class="table" role="grid" aria-describedby="datatable_info"
                               style="width:100%">
                            <thead>
                            <tr role="row">
                                <th class="text-center" tabindex="0" aria-controls="datatable" style="width:20%">그룹이름
                                </th>
                                <th class="text-center" tabindex="0" aria-controls="datatable" style="width:15%">
                                    그룹대상인원
                                </th>
                                <th class="text-center" tabindex="0" aria-controls="datatable" style="width:15%">
                                    그룹대상관리
                                </th>
                                <th class="text-center" tabindex="0" aria-controls="datatable" style="width:10%">등록일자
                                </th>
                                <th class="text-center" tabindex="0" aria-controls="datatable" style="width:10%">수정일자
                                </th>
                                <th class="text-center" tabindex="0" aria-controls="datatable" style="width:10%">수정</th>
                                <th class="text-center" tabindex="0" aria-controls="datatable" style="width:9%">삭제</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="loginId" value="{{loginId}}">
{{> mail/receiver/receiverModal}}
{{> mail/receiver/receivDetailModal}}
{{> footer }}
<!-- 테스트 진행 페이징-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js"></script>
<script type="text/javascript" src="/viewJs/mail/receiver/receiver.js"></script>
<script type="text/javascript" src="/viewJs/mail/receiver/receiverModal.js"></script>
<script type="text/javascript" src="/viewJs/mail/receiver/receivDetailModal.js"></script>
</body>
</html>
