<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" class="perfect-scrollbar-on">
<head>
    {{> header }}
</head>

<body class="sidebar-mini">
    <div class="wrapper">
        {{> left mailActive="active" menuExpand="true" mailDashboardMenuActive="active" mailMenuShow="show"}}
        <div class="main-panel">
            {{> top title="DashBoard"}}

            <div class="content">
                <div class="row">
                    <div class="col-12">
                        <div class="card card-chart">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-6 text-left">
                                        최근 2주 발송 통계
                                    </div>
                                    <div class="col-6">
                                        <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                                            <label class="btn btn-sm btn-primary btn-simple active" id="2WA">
                                                <input type="radio" name="options" checked="">
                                                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">전체</span>
                                                <span class="d-block d-sm-none">
                                                    <i class="tim-icons icon-single-02"></i>
                                                </span>
                                            </label>
                                            <label class="btn btn-sm btn-primary btn-simple" id="2WC">
                                                <input type="radio" class="d-none d-sm-none" name="options">
                                                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">대량</span>
                                                <span class="d-block d-sm-none">
                                                    <i class="tim-icons icon-gift-2"></i>
                                                </span>
                                            </label>
                                            <label class="btn btn-sm btn-primary btn-simple" id="2WR">
                                                <input type="radio" class="d-none" name="options">
                                                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">실시간</span>
                                                <span class="d-block d-sm-none">
                                                    <i class="tim-icons icon-tap-02"></i>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="chart-area">
                                    <canvas id="chart2w" width="3020" height="440" class="chartjs-render-monitor" style="display: block; height: 220px; width: 1510px;"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-7">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="text-left">
                                    금일 발송 내역
                                </h5>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table" id="todaySendListTable" role="grid" aria-describedby="datatable_info" style="width: 100%;">
                                        <thead class="text-primary">
                                            <tr role="row">
                                                <th class="text-center header" tabindex="0" aria-controls="datatable">
                                                    유형
                                                </th>
                                                <th class="text-center header" tabindex="0" aria-controls="datatable">
                                                    캠페인명
                                                </th>
                                                <th class="text-center header" tabindex="0" aria-controls="datatable">
                                                    발송
                                                </th>
                                                <th class="text-center header" tabindex="0" aria-controls="datatable">
                                                    성공
                                                </th>
                                                <th class="text-center header" tabindex="0" aria-controls="datatable">
                                                    실패
                                                </th>
                                                <th class="text-center header" tabindex="0" aria-controls="datatable">
                                                    오픈
                                                </th>
                                                <th class="text-center header" tabindex="0" aria-controls="datatable">
                                                    실패
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="todaySendListBody">
                                            <tr>
                                                <td class="text-center" colspan="7">
                                                    발송 내역이 없습니다.
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="text-left">
                                    금일 예약 내역
                                </h5>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table" id="todayReqListTable"  role="grid" aria-describedby="datatable_info" style="width: 100%;">
                                        <thead class="text-primary">
                                            <tr role="row">
                                                <th class="text-center header" tabindex="0" aria-controls="datatable">
                                                    캠페인명
                                                </th>
                                                <th class="text-center header" tabindex="0" aria-controls="datatable">
                                                    예약시각
                                                </th>
                                                <th class="text-center header" tabindex="0" aria-controls="datatable">
                                                    상태
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="reqListBody">
                                            <tr>
                                                <td class="text-center" colspan="3">
                                                    예약 내역이 없습니다.
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                <div/>

                <!-- 발송 진행-->
                <div class="row" id="campSending">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">캠페인 발송 진행</h5>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive ps">
                                    <table class="table">
                                        <thead class="text-primary">
                                        <tr>
                                            <th class="text-center">
                                                #
                                            </th>
                                            <th class="text-center">
                                                스케줄 ID
                                            </th>
                                            <th class="text-center">
                                                발송 구분
                                            </th>
                                            <th class="text-center">
                                                Actions
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                    <!--<div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>-->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 발송 진행-->


            </div>
            <!-- content End-->
        </div>
    </div>

    {{> footer }}

    <script type="text/javascript" src="/viewJs/mail/dashboard.js"></script>
</body>
</html>
